*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

h1{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #227B70;
}

h2{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

h3{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

nav{
    background-color: white;
}

ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;

}

li{
    font-family: 'Poppins', sans-serif;
    margin-right: 5%;
    margin-top: 10px;
    color: #383A4D;
}

nav img{
    margin-right: 35%;
    margin-top: 10px;
}

.header{
    background-image: url("workers\ cleaning.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.header p{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
}

.header button{
    font-family:  'Poppins', sans-serif;
    color: white;
    border: 1px solid #F5C512 ;
    border-radius: 15px;
    background-color: #F5C512;
    width: 9%;
    margin-left: 45%;
    margin-right: 45%;
    height:30px;
    padding: 5px 20px;
}


.about{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.special {
    position: relative;
    width:45%;
    border: 1px solid #227B70;
    border-radius: 300px;
    box-shadow: 0 0 3px #227B70;
    

}

.circletext{
    width:45%;
}



.circletext button{
    font-family:  'Poppins', sans-serif;
    color: white;
    border: 1px solid #F5C512 ;
    border-radius: 15px;
    background-color: #F5C512;
    width: auto;
    height:30px;
    padding: 5px 20px;
}

.choose{
    margin-top: 50px;
    text-align: center;
    
    
}

.choose1{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25% ;
    margin-bottom: 30px;
}

.quality{
    display: flex;
    justify-content: space-evenly;
}



 .tools img{
    border: 1px solid #227B70;
    border-radius: 100px;
}

.worker img{
    border: 1px solid #227B70;
    padding: 20px 20px;
    border-radius: 400px;
}



 .satisfaction img{
    border: 1px solid #227B70;
    border-radius: 100px;
    width:40%;
    
}

.services{
    margin-top: 50px;
}

.services1{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25% ;
    margin-bottom: 30px;
}

.top{
    display: flex;
    justify-content: space-around;
}

.top img{
    width: 80%;
}

.bottom{
    display: flex;
    justify-content: space-around;
}

.bottom img{
    width: 80%;
}
.pricing-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pricing-div {
    margin-bottom: 50px;
}
.cards {
    max-width: calc(80%);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.col-1-of-3 {
    align-items: center;
    width: calc((35% - 5%)*3);
    box-shadow: 5px 2px 2px black;
}
.col-1-of-3:not(:last-child){
    margin-right: 20px;
}
.green-portion {
    background-color: #227B70;
}
.text-center{
    text-align: center;
    padding: 20px;
}

.column {
    list-style: none;
    display: block;
    text-align: center;
}
.column li {
    padding-left: 10px;
}
.column li::before {
    content: "\2022";
    color: green;
    font-weight: bold;
    display: inline-block;
    list-style-position: outside;
    width: 2em;
    margin-left: -1em;
    padding-top: 20px;
}
.card-btn {
    width: 45%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
.btn {
    /* display: block;
    width: 30%; */
    padding: 10px 40px;
    background-color: #F5C512;
    border-radius: 50px;
    border: none;

}


.pricing-image {
    background: url(pricing-image.jpg);
    margin-top: 30px;
    height: 80vh;
}
.pricing-desc {
    /* margin-right: auto; */
    height: auto;
    margin-left: 70%;

}
.pricing-desc h2{
    padding-top: 50px;
    padding-bottom: 20px;
}
.circles-div {
    display: flex;
    justify-content: space-evenly;
}
.circle-shape {
    height: 100px;
    width: 100px;
    border: 1px solid green;
    border-radius: 50%;
}
.testimonials{
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards2 {
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.column-1-of-3 {
    box-shadow: 2px 2px 2px 2px #5c5858;
    padding: 20px 40px 20px;
}

.column-1-of-3:not(:last-child) {
    margin-right: 20px;
}

.circ-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.customer-info {
max-width: 250px;
display: flex;
justify-content: space-between;

}
.contact-header {
    text-align: center;
    margin: 30px auto;
}
.testimonial-header {
    text-align: center;
    margin: 30px 0;
}
.contact-cols{
    display: flex;
    max-width: 90%;
    justify-content: space-around;
    margin: 0 auto;
}
.con-1-of-3 {
    align-items: center;
    width: calc((35% - 5%)*3);
}
.con-1-of-3:not(:last-child){
    margin-right: 20px;
}
input {
    border: 1px solid #6d6868;
    padding: 20px 50px 10px;
    font-size: 1.2em;
    margin: 10px 0;
    width: 100%;
  }
  input::placeholder {
    color: #6d6868;
  }

footer{
    background-color: #227B70;
}

.foot-cols {
    color: #ffffff;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}


.col-1-of-4:not(:last-child){
    padding-right: 50px;
}

.address, .phone, .email{
    padding: 20px 0;
}
.addressp {
    display: inline;
}

@media screen and (max-width: 768px){
.foot-cols {
    width: 70vh;
    flex-wrap: wrap;
}
.cards2 {
    flex-wrap: wrap;
}
.cards {
    flex-wrap: wrap;
    /* margin: 20px auto; */
}
.col-1-of-3 {
    margin: 10px auto;
}
.con-1-of-3 {
    margin: 10px auto;
}
.column-1-of-3 {
    margin: 10px auto;
}

.contact-cols {
    flex-wrap: wrap;
}
.pricing-desc {
    margin: 150px 30px;
    padding: 40px auto;
}
.pricing-image {
    height: 50vh;
}
}

@media screen and (max-width: 840px){
    .circletext{
        margin-right: 3%;
    }

    .quality{
        display: block;
    }

    .tools img{
        margin-bottom: 20px !important;
    }
    
    .worker img{
        margin-bottom: 20px !important;
    }
    
    
    
     .satisfaction img{
        margin-bottom: 20px !important;
}}